@model PracticaClase02.Models.ViewModel.PersonaViewModel
@{
    ViewBag.Title = "PersonaViewModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PersonaViewModel</h2>

@using (Html.BeginForm("DescripcionViewModels", "Persona", FormMethod.Post))
{
    @Html.LabelFor(m => m.Id)
    @Html.TextBoxFor(m => m.Id)
    @Html.ValidationMessageFor(m => m.Id, null, new { @class = "red" })

    @Html.LabelFor(m => m.Nombre)
    @Html.TextBoxFor(m => m.Nombre)
    @Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "red" })


    <input type="submit" />
}