
@{
    ViewBag.Title = "EmpleadoSave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmpleadoSave</h2>

<h3>@ViewBag.id</h3>

@using (Html.BeginForm("Save", "Empleado", FormMethod.Post))
{
    <label for="id_empleado">ID</label>
    <br />
    <input type="hidden" name="id_empleado" value="@ViewBag.id" />
    <br />

    <label for="Empl_nombre"> Nombre de empleado </label>
    <br>
    <input type="text" name="Empl_nombre" value="@ViewBag.nombre" required>
    <br>

    <label for="Empl_apellido">Apellido de empleado</label>
    <br>
    <input type="text" name="Empl_apellido" value="@ViewBag.apellido" required>
    <br>

    <label for="Empl_DUI">DUI</label>
    <br>
    <input type="number" name="Empl_DUI" value="@ViewBag.dui" required>
    <br>

    <label for="Empl_direccion"> Direccion de empleado </label>
    <br>
    <input type="text" name="Empl_direccion" value="@ViewBag.direccion" required>
    <br>

    <label for="Empl_tel">Telefono</label>
    <br>
    <input type="tel" name="Empl_tel" value="@ViewBag.telefono" required>
    <br>

    <label for="Empl_email">Correo</label>
    <br>
    <input type="email" name="Empl_email" value="@ViewBag.correo" required>
    <br>

    <label for="Empl_cargo"> Cargo de empleado </label>
    <br>
    <input type="text" name="Empl_cargo" value="@ViewBag.cargo" required>
    <br>
    <br />
    <input type="submit" class="btn btn-success" />



}