@model List<PracticaClase02.Models.inventario> /*es para hacer uso de lo datos de la tabla empleado*/
@{
    ViewBag.Title = "Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleado</h2>



<table class="table table-striped">
    <thead>
    <th>
        ID
    </th>
    <th>
        Nombre
    </th>
    <th>
        Apellido
    </th>
    <th>
        DUI
    </th>
    <th>
        Dirrecion
    </th>
    <th>
        Telefono
    </th>
    <th>
        Correo
    </th>
    <th>
        Cargo
    </th>
    <th>
        Eliminacion
    </th>
    </thead>
    <tbody>

        @foreach (var item in Model)/*Model variable especial de asp proviene de arriva y automaticamente hace una inyeccipon desde el persona controler*/
        {
        <tr>
            <td>@item.id_empleado</td>
            <td>@item.Empl_nombre</td>
            <td>@item.Empl_apellido</td>
            <td>@item.Empl_DUI</td>
            <td>@item.Empl_direccion</td>
            <td>@item.Empl_tel</td>
            <td>@item.Empl_email</td>
            <td>@item.Empl_cargo</td>

            <td>
                @Html.ActionLink("Editar", "EmpleadoSave", new { id = item.id_empleado}, new { @class = "btn btn-success" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_empleado }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }


    </tbody>
</table>

@Html.ActionLink("Guardado", "EmpleadoSave", new { @class = "btn btn-success" })